APP_DISPLAY_NAME = Worthify Native
APP_GROUP_ID = group.com.worthify.worthify

SUPABASE_URL =
SUPABASE_ANON_KEY =
ARTWORK_ENDPOINT =
DETECT_ENDPOINT =
DETECT_AND_SEARCH_ENDPOINT =
SEARCHAPI_KEY =
APIFY_API_TOKEN =
CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =
AMPLITUDE_API_KEY =
REVENUECAT_IOS_API_KEY =
SUPERWALL_IOS_API_KEY =
